.card-xx {
    padding: 0.5rem;

    .card-header-xx {
        background-color: rgb(189, 188, 188);
        border: 1px solid grey;

        h2 {
            button {
                text-decoration: none;
                color: black;
            }
        }
    }

    .collapse-xx {
        border: 1px solid grey;
        border-top: 1px solid transparent;
    }
}

.container-fluid {
    padding: 1rem;
    // height: 70vh;
    margin-left: 0.5rem;
    width: calc(100% - (2 * 0.5rem));

    margin-top: 1rem;
    border: 1px solid grey;

    .row { margin-left: 0; margin-right: 0; }
    .col { padding-left: 0; padding-right: 0; }

    .h-half {
        height: 30vh;
    }

    .box {
        box-sizing: border-box;
        border: 2rem solid yellow;
        background-clip: padding-box;
        overflow: auto;
    }
}
