<div class="accordion" id="accordionExample">

    <div class="card-xx">
        <div class="card-header-xx" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" aria-controls="collapseOne"
                    data-toggle="collapse" data-target="#collapseOne" aria-expanded="false">Lorem Ipsum 1</button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse-xx collapse" aria-labelledby="headingOne">
            <div class="card-body">
                Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the
                <code>.show</code> class.
            </div>
        </div>
    </div>

    <div class="card-xx">
        <div class="card-header-xx" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" aria-controls="collapseTwo"
                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">Lorem Ipsum 2</button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse-xx collapse" aria-labelledby="headingTwo">
            <div class="card-body">
                Some placeholder content for the second accordion panel. This panel is hidden by default.
            </div>
        </div>
    </div>

    <div class="card-xx">
        <div class="card-header-xx" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" aria-controls="collapseThree"
                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">Lorem Ipsum 3</button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse-xx collapse" aria-labelledby="headingThree">
            <div class="card-body">
                And lastly, the placeholder content for the third and final accordion panel. This panel is hidden by
                default.
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">

        <div class="col col-md-10">
            <div class="box h-half">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <div class="box h-half">
                Proin leo odio, pellentesque eu bibendum eget, ornare sed lacus. Integer nisi erat, imperdiet et tincidunt vel, vulputate non magna. Cras tincidunt venenatis lacus non hendrerit. 
            </div>
        </div>

        <div class="col col-md-2 box">
            Lorem ipsum dolor:
        </div>

    </div>
</div>